[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
build = "python /auto-get/main1.py"

[dev-packages]

[packages]
requests = "2.25.1"
feedparser = "6.0.2"
pytz = "2020.5"
lxml="4.6.3"
bs4="0.0.1"
[requires]
python_version = "3.7"
